body {
	background: url("http://caporasolab.us/images/microtexture.png");
}

ol {
	list-style: decimal !important;
}

.iab-edit {
	float: right;
	font-size: 14px;
}

h4, h5, h6 {
	font-size: 120% !important;
}

.anchor-link {
	display: none !important;
}
